a.Buttons1 {
    display: inline-block;
    text-decoration: none;
    background-color: #54363b;
    padding: 16px;
    border-radius: 8px;
    color: white;
  }
  
  a.Buttons1:hover {
    border-radius: 8px;
    background-color: #9a7b78;
  }
  
  a.Danger {
    padding: 16px;
    text-decoration: none;
    color: white;
    border-radius: 8px;
    background-color: rgb(198, 0, 0);
  }
  a.Danger:hover {
    border-radius: 8px;
    background-color: rgb(255, 0, 0);
  }
  
  a.Success {
    padding: 16px;
    text-decoration: none;
    color: white;
    border-radius: 8px;
    background-color: rgb(1, 156, 1);
  }
  a.Success:hover {
    border-radius: 8px;
    background-color: rgb(4, 180, 4);
  }
  
  a.Warning {
    padding: 16px;
    text-decoration: none;
    color: white;
    border-radius: 8px;
    background-color: orange;
  }
  a.Warning:hover {
    border-radius: 8px;
    background-color: rgb(255, 189, 65);
  }
  
  a.Info {
    padding: 16px;
    text-decoration: none;
    color: white;
    border-radius: 8px;
    background-color: blue;
  }
  a.Info:hover {
    border-radius: 8px;
    background-color: rgb(79, 79, 253);
  }